root = true

[*.cs]
charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Using direktivalar va ularning tartibi
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# Field, property va method chaqiruvlarida this ishlatish
dotnet_style_qualification_for_field = false
dotnet_style_qualification_for_property = false
dotnet_style_qualification_for_method = false

# Ogohlantirishlar
dotnet_diagnostic.IDE0005.severity = warning   # Foydalanilmagan using-larni olib tashlash
dotnet_diagnostic.SA1200.severity = warning    # Using joylashuvi
dotnet_diagnostic.RCS1213.severity = warning   # Foydalanilmagan members

# XML documentationni o‘chirish
dotnet_diagnostic.SA1600.severity = none       # Elementlar uchun XML doc talab qilinmaydi
